<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Alpha Blog Udemy" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <!-- The partial render is different in layout folder as compared to other folder i.e. In layout, if we render the partial which is in same folder then at time we have to create the complete path but it is not necessary in other folder. --> 
    <%= render 'layouts/messages' %>
    <%= yield %>
  </body>
</html>
